@media (max-width: 1070px) {
    .content {
        flex-direction: column;
        max-width: 820px;
        margin: 0 auto;
        padding-inline: 5px;
    }

    .current {
        min-height: 286px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0;
    }

    .stats {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .daily {
        padding-top: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

@media (max-width: 730px) {

    h1 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    .search {
        padding-bottom: 30px;
    }

    .current {
        justify-content: center;
        gap: 20px;
    }

    .current__temp>span {
        padding-right: 10px;
        font-size: 48px;
        gap: 0;
    }

    .stats {
        flex-wrap: wrap;
        gap: 16px;

        .stat {
            flex: 0 0 calc(50% - 8px);
            max-width: 100%;
        }

    }

    .daily__list {
        flex-wrap: wrap;
        gap: 12px;
    }

    .units {
        font-size: 15px;
        padding: 10px 18px;
    }

    .search__button {
        font-size: 15px;
        padding: 10px 18px;

    }


    .search__input {
        height: 38px;
        font-weight: 400;
        background: 12px solid;
    }

}

@media (max-width: 600px) {
    .current {
        flex-direction: column;
        background-size: cover;
        min-height: 286px;
    }

    .current__temp>span {
        font-size: 48px;
    }

    .current__temp>img {
        width: 80px;
        height: 80px;
    }

    .search__input {
        height: 38px;
        background: 12px solid;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .current {
        background: url(/src/assets/icons/bg-today-small.svg) no-repeat center;
    }
}